@using CourseWorkSpring2023.Models.AdminControllerViewModel;

@model RoleViewModel

<h2>Изменение роли для пользователя @Model.UserEmail</h2>

<table class="">
    @foreach (var role in Model.AllRoles)
    {
        if (Model.UserRoles.Contains(role.Name))
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    Роль пользователя
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="AddRole" asp-route-roleid="@role.Id" asp-route-userid="@Model.UserId">Выдать роль</a>
                </td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Назад", "Index")