<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseWorkSpring2023</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.IsInRole("Moderator"))
    {
        <script src="~/js/Blazor/Moderator.js"></script>
    }
    @if (IsSectionDefined("AddToHead"))
    {
            @RenderSection("AddToHead", required: false)
    }
    @if (User.IsInRole("Admin"))
    {
        <link rel="stylesheet" href="~/css/admin.css"/>
    }
    <link rel="stylesheet" href="~/css/custom.css"/>
    <link rel="stylesheet" href="~/css/login.css"/>
    @RenderSection("AddToHeadAnotherWay", required: false)
</head>
<body>
    <header>
        <div class="custom-navbar">
            <div class="custom-nav-links">
                <ul>
                    <li>
                        <a id="logo" class="custom-logo" asp-controller="Posts" asp-action="Index">CourseWorkSpring2023</a>
                    </li>
                    <li>
                        <a asp-controller="Posts" asp-action="Index">Home</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="custom-nav-links">
                    <partial name="_LoginPartial" />
            </div>
        </div>
    </header>
    <div class="custom-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="_framework/blazor.server.js"></script> 
</body>
</html>
