@model UserViewModel

<h2>Hi @Model.NickName! Have a nice day!</h2>
<br>
<img src="@Model.AvatarImagePath" width="100" height="100"/>

<a asp-area="Identity" asp-page="/Account/Manage/Index">Управление акккаунтом</a>
<a asp-controller="Posts" asp-action="CreatePost">Post</a>

<style>
    .post{
        border: black solid 1px;
        margin: 20px;
    }
</style>

<div class="posts-container">
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            <div class="post content">
                @await Component.InvokeAsync("ModeratorTools", new { ContentType = "post", Id = post.Id})
                <br>
                @post.Header
                <br>
                Дата публикации - @post.Posted
                <br>
                Комментарии - @post.CommentsCount
                <br>
                Пост спрятан - @post.IsHidden
                <p class="rating">@post.Rating</p>
                <a class="btn btn-primary" asp-controller="Posts" asp-action="CommentsOfPost" asp-route-postId="@post.Id">Открыть комментарии</a>
            </div>
        }

    }
    else
    {
        <p>У вас пока нет постов</p>
        <a asp-controller="Posts" asp-action="CreatePost">Post</a>
    }
</div>

@section scripts{
        <script src="~/js/Moderator/Moderator.js" defer></script>
}