@using CourseWorkSpring2023.Custom;
@using CourseWorkSpring2023.Models.HomeViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .post{
        border: black solid 1px;
        margin: 20px;
    }
</style>

@await Component.InvokeAsync("PostsFilter")

<div class="posts-container">
    @foreach (var post in Model.Posts)
    {
        <div class="post">
            Пользователь
            @post.Author.NickName
            <br>
            Заголовок
            @post.Header
            <br>
            Текст
            @post.Text
            <br>
            Дата публикации - 
            @post.Posted
            <br>
            Лайки @post.Rating
        </div>
    }
</div>