@using CourseWorkSpring2023.Custom;
@using CourseWorkSpring2023.Models.HomeViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .post{
        border: black solid 1px;
        margin: 20px;
    }
</style>

@await Component.InvokeAsync("PostsFilter")

<div class="posts-container">
    @foreach (var post in Model.Posts)
    {
        <div class="post">
            Пользователь
            @post.Author.NickName
            <br>
            Заголовок
            @post.Header
            <br>
            Текст
            @post.Text
            <br>
            Дата публикации - 
            @post.Posted
            <br>
            Лайки @post.Rating
        </div>
    }
    <button id="sendBtn" class="btn btn-primary">test</button>
</div>

<script>
    $("#sendBtn").click(function(){

        var testObject = new Object();
        testObject.Name = "test";
        testObject.Value = "1";

        $.ajax({
            type: "POST",
            url: "/Home/GetAjax",
            data: testObject,
            succes: function(data){
                if(data == "pass"){
                    alert("success");
                }
                else{
                    alert("fail" + data);
                }
            },
            failure:function(err){

            }
        })
    })
</script>