@using CourseWorkSpring2023.Custom;
@using CourseWorkSpring2023.Models.HomeViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .post{
        border: black solid 1px;
        margin: 20px;
    }
</style>

@await Component.InvokeAsync("PostsFilter")

<div class="posts-container">
    @foreach (var post in Model.Posts)
    {
        <div class="post">
            Пользователь
            @post.Author.NickName
            <br>
            Заголовок
            @post.Header
            <br>
            Текст
            @post.Text
            <br>
            Дата публикации - 
            @post.Posted
            <br>
            <p class="rating">@post.Rating</p>
            @if (Model.UpvotedPostsIds.Contains(post.Id))
            {
                <button class="btn btn-warning likeBtn"   data-isPicked="true"  data-postId=@post.Id data-action="remove_upvote">+</button>
                <button class="btn btn-secondary dislikeBtn" data-isPicked="false" data-postId=@post.Id data-action="downvote_and_remove_upvote">-</button>
            }
            else if(Model.DownvotedPostsIds.Contains(post.Id))
            {
                <button class="btn btn-secondary likeBtn" data-isPicked="false" data-postId=@post.Id data-action="upvote_and_remove_downvote">+</button>
                <button class="btn btn-warning dislikeBtn"   data-isPicked="true" data-postId=@post.Id data-action="remove_downvote">-</button>
            }
            else
            {
                <button class="btn btn-secondary likeBtn" data-isPicked="false" data-postId=@post.Id data-action="upvote">+</button>
                <button class="btn btn-secondary dislikeBtn" data-isPicked="false" data-postId=@post.Id data-action="downvote">-</button>
            }

            <a asp-action="Post" asp-route-postId=@post.Id>Открыть</a>
        </div>
    }
    
    <button class=" btn btn-primary" data-isPicked="false" data-action="upvote">like</button>
    <button class="dis btn btn-primary" data-isPicked="false" data-action="downvote">dis</button>
</div>

<script>
    window.onload = function(){


    //$(function(){
    //    $(".likeBtn").click(function() {
    //        console.log(this);
    //        console.log($(this).attr("data-like"));
    //    });
    //});


    //btn.getAttribute("data-postId");

    $(".likeBtn").click(function(){

        let mirror = $(this).next(".dislikeBtn");

        let dataObject = new Object();
        dataObject.Action = $(this).attr("data-action");
        dataObject.PostId = $(this).attr("data-postId");

        let isDisPicked = mirror.attr("data-isPicked") == "true";
        let isLikePicked = $(this).attr("data-isPicked") == "true";



        if(!isDisPicked && !isLikePicked){ // обычный лайк
            $(this).removeClass("btn-secondary").addClass("btn-warning");
            $(this).attr("data-isPicked", "true");

            $(this).attr("data-action", "remove_upvote");
            mirror.attr("data-action", "downvote_and_remove_upvote");

        }
        if(isLikePicked && !isDisPicked){ // убираем лайк
            $(this).removeClass("btn-warning").addClass("btn-secondary");
            $(this).attr("data-isPicked", "false");

            $(this).attr("data-action", "upvote");
            mirror.attr("data-action", "downvote");
        }
        if(!isLikePicked && isDisPicked){ // меняем диз на лайк
            $(this).removeClass("btn-secondary").addClass("btn-warning");
            $(this).attr("data-isPicked", "true");

            mirror.removeClass("btn-warning").addClass("btn-secondary");
            mirror.attr("data-isPicked", "false");

            $(this).attr("data-action", "remove_upvote");
            mirror.attr("data-action", "downvote_and_remove_upvote");
        }

        $.ajax({
            type: "POST",
            url: "/Home/GetAjax",
            data: dataObject,
            success: function(data){
                if(data == "200"){
                }
                else if(data = "400"){
                    alert("error 400");
                }
            },
            failure:function(err){

            }
        })
    });


    $(".dislikeBtn").click(function(){

        let mirror = $(this).prev(".likeBtn");

        let dataObject = new Object();
        dataObject.Action = $(this).attr("data-action");
        dataObject.PostId = $(this).attr("data-postId");

        let isDisPicked = mirror.attr("data-isPicked") == "true";
        let isLikePicked = $(this).attr("data-isPicked") == "true";



        if(!isDisPicked && !isLikePicked){ // обычный диз
            $(this).removeClass("btn-secondary").addClass("btn-warning");
            $(this).attr("data-isPicked", "true");

            $(this).attr("data-action", "remove_downvote");
            mirror.attr("data-action", "upvote_and_remove_downvote");

        }
        if(isLikePicked && !isDisPicked){ // убираем диз
            $(this).removeClass("btn-warning").addClass("btn-secondary");
            $(this).attr("data-isPicked", "false");

            $(this).attr("data-action", "upvote");
            mirror.attr("data-action", "downvote");

        }
        if(!isLikePicked && isDisPicked){ // меняем лайк на диз
            $(this).removeClass("btn-secondary").addClass("btn-warning");
            $(this).attr("data-isPicked", "true");

            mirror.removeClass("btn-warning").addClass("btn-secondary");
            mirror.attr("data-isPicked", "false");

            $(this).attr("data-action", "remove_downvote");
            mirror.attr("data-action", "upvote_and_remove_downvote");
        }

        $.ajax({
            type: "POST",
            url: "/Home/GetAjax",
            data: dataObject,
            success: function(data){
                if(data == "200"){
                }
                else if(data = "400"){
                    alert("error 400");
                }
            },
            failure:function(err){

            }
        })
    });


    };



   /* $(".likeBtn").click(function(){

        if($(this).attr("data-action") == null){
            alert("null");
            return;
        }
        else{
            var dataObject = new Object();
            dataObject.Action = $(this).attr("data-action");
            dataObject.PostId = $(this).attr("data-postId");

            console.log($(this));


            // обрабатываем уже выбранный вариант
           /* if($(this).attr("data-isPicked") == "true"){
                $(this).removeClass("btn-warning").addClass("btn-secondary");
                $(this).attr("data-isPicked", "false");
                
                if($(this).attr("data-action") == "remove_upvote"){
                    $(this).attr("data-action", "upvote");
                    // соседняя кнопка должна менять хначение экшена
                }
                if($(this).attr("data-action") == "remove_downvote"){
                    $(this).attr("data-action", "downvote");
                    // соседняя кнопка должна менять хначение экшена
                }
                if($(this).attr("data-action") == "downvote_and_remove_upvote"){
                    $(this).attr("data-action", "remove_downvote");
                    // соседняя кнопка должна менять хначение экшена
                }
                if($(this).attr("data-action") == "upvote_and_remove_downvote"){
                    $(this).attr("data-action", "remove_upvote");
                    // соседняя кнопка должна менять хначение экшена
                }
               // console.log($(this).siblings(".rating").innerText);
            }
            // обрабатываем новый вариант
            else{
                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $(this).attr("data-isPicked", "true");
               //  $(this).siblings(".rating").innerText--;
               
                if($(this).attr("data-action") == "upvote"){
                    $(this).attr("data-action", "remove_upvote");
                }
                if($(this).attr("data-action") == "downvote"){
                    $(this).attr("data-action", "remove_downvote");
                }
            }*/
</script>