@using CourseWorkSpring2023.Custom;
@using CourseWorkSpring2023.Models.HomeViewModels;
@using CourseWorkSpring2023.Models.Moderator;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .post{
        border: black solid 1px;
        margin: 20px;
    }
</style>

@await Component.InvokeAsync("PostsFilter")

<div class="posts-container">
    @foreach (var post in Model.Posts)
    {
        <div class="post content">
            @if (User.IsInRole("Moderator"))
                @await Component.InvokeAsync("ModeratorTools", new { ContentType = "post", Id = post.Id})
            Пользователь
            @Html.ActionLink(@post.Author.NickName, "UserPage", "Home", new { userName = post.Author.UserName})
            <br>
            @post.Header
            <br>
            Дата публикации - @post.Posted
            <br>
            Комментарии - @post.CommentsCount
            <br>
            Пост спрятан - @post.IsHidden.ToString()
            <p class="rating">@post.Rating</p>
            @if(Model.ActiveUser == null)
            {
                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">+</a>
                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">-</a>
            }
            else
            {
                @if (Model.UpvotedPostsIds.Contains(post.Id))
                {
                    <button class="btn btn-warning likeBtn"   data-isPicked="true"  data-Id=@post.Id data-action="remove_upvote">+</button>
                    <button class="btn btn-secondary dislikeBtn" data-isPicked="false" data-Id=@post.Id data-action="downvote_and_remove_upvote">-</button>
                }
                else if (Model.DownvotedPostsIds.Contains(post.Id))
                {
                    <button class="btn btn-secondary likeBtn" data-isPicked="false" data-Id=@post.Id data-action="upvote_and_remove_downvote">+</button>
                    <button class="btn btn-warning dislikeBtn"   data-isPicked="true" data-Id=@post.Id data-action="remove_downvote">-</button>
                }
                else
                {
                    <button class="btn btn-secondary likeBtn" data-isPicked="false" data-Id=@post.Id data-action="upvote">+</button>
                    <button class="btn btn-secondary dislikeBtn" data-isPicked="false" data-Id=@post.Id data-action="downvote">-</button>
                }
            }
            <a asp-action="Post" asp-route-postId=@post.Id>Открыть</a>
        </div>
    }
</div>

@section scripts{
    <script src="~/js/CommonActions/ratings.js"></script>
}