@using CourseWorkSpring2023.Models.HomeViewModels;
@using CourseWorkSpring2023.Models.Moderator;
@model PostViewModel

<h1>@Model.Header</h1>
<h2>@Model.Author.NickName</h2>
<p class="postId" hidden>@Model.Id</p>
<p>@Model.Text</p>

     <textarea class="comment_text"></textarea>
     <br>
     @if(Model.ActiveUser == null){
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Оставить комментарий</a>
     }
     else{
        <button class="leave_comment_btn btn btn-primary" data-Nickname=@Model.ActiveUser.NickName>Оставить комментарий</button>
     }
<style>
    .comment-section .comment{
        border: 1px solid black;
        margin:5px;
        padding:5px;
    }
</style>

<div class="comment-section">
    @if(Model.Comments.Any()){
        @foreach (var comment in Model.Comments)
        {
            <div class="comment content">
                @if (User.IsInRole("Moderator"))
                    @await Component.InvokeAsync("ModeratorTools", new { ContentType = "comment", Id = comment.Id})

                <h4>@comment.User.NickName</h4>
                <p>@comment.Text</p>
                <p>Рейтинг:</p>
                <p>isHidden  -  @comment.IsHidden</p>
                <p class="rating">@comment.Rating</p>
            
            @if(Model.ActiveUser == null)
            {
                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">+</a>
                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">-</a>
            }
            else
            {
                @if (Model.UpvotedCommentsIds.Contains(comment.Id))
                {
                    <button class="btn btn-warning likeBtn"   data-isPicked="true"  data-Id=@comment.Id data-action="remove_upvote">+</button>
                    <button class="btn btn-secondary dislikeBtn" data-isPicked="false" data-Id=@comment.Id data-action="downvote_and_remove_upvote">-</button>
                }
                else if (Model.DownvotedCommentsIds.Contains(comment.Id))
                {
                    <button class="btn btn-secondary likeBtn" data-isPicked="false" data-Id=@comment.Id data-action="upvote_and_remove_downvote">+</button>
                    <button class="btn btn-warning dislikeBtn"   data-isPicked="true" data-Id=@comment.Id data-action="remove_downvote">-</button>
                }
                else
                {
                    <button class="btn btn-secondary likeBtn" data-isPicked="false" data-Id=@comment.Id data-action="upvote">+</button>
                    <button class="btn btn-secondary dislikeBtn" data-isPicked="false" data-Id=@comment.Id data-action="downvote">-</button>
                }
            }
            </div>
        }
    }else{
        <div class="no-comments">
            <p>Комментариев пока нету</p>
        </div>
    }    
</div>

<script>
    window.onload = function(){

        $(".leave_comment_btn").click(function(){
           let txt = $(".comment_text").val();

           if(!txt){
               // добавить валидацию
               return;
           }

           let dataObject = new Object();
           dataObject.Text = txt;
           dataObject.PostId = $(".postId").text();
           dataObject.Action = "comment";
           
           $.ajax({
            type: "POST",
            url: "/Home/GetAjax",
            data: dataObject,
            success: function(data){
                if(data == "200"){
                }
                else if(data = "400"){
                    alert("error 400");
                }
            },
            failure:function(err){

            }
            });

            if($(".comment-section").children(".no-comments").length){
                // комментариев ещё нет
                $(".comment-section").children(".no-comments").remove();
            }
                // комменты уже есть
            $(".comment-section").append(
                '<div class="comment"> <h4>' + 
                $(this).attr("data-Nickname") + 
                '</h4> <p>' + txt + '</p></div>');

        });


        $(".likeBtn").click(function(){

            let rating = parseInt($(this).parent().children(".rating").html());


            let mirror = $(this).next(".dislikeBtn");

            let dataObject = new Object();
            dataObject.Action = $(this).attr("data-action");
            dataObject.Id = $(this).attr("data-Id");

            let isDisPicked = mirror.attr("data-isPicked") == "true";
            let isLikePicked = $(this).attr("data-isPicked") == "true";



            if(!isDisPicked && !isLikePicked){ // обычный лайк
                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $(this).attr("data-isPicked", "true");

                $(this).attr("data-action", "remove_upvote");
                mirror.attr("data-action", "downvote_and_remove_upvote");

                rating = rating + 1;

            }
            if(isLikePicked && !isDisPicked){ // убираем лайк
                $(this).removeClass("btn-warning").addClass("btn-secondary");
                $(this).attr("data-isPicked", "false");

                $(this).attr("data-action", "upvote");
                mirror.attr("data-action", "downvote");

                rating = rating - 1;
            }
            if(!isLikePicked && isDisPicked){ // меняем диз на лайк
                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $(this).attr("data-isPicked", "true");

                mirror.removeClass("btn-warning").addClass("btn-secondary");
                mirror.attr("data-isPicked", "false");

                $(this).attr("data-action", "remove_upvote");
                mirror.attr("data-action", "downvote_and_remove_upvote");

                rating = rating + 2;
            }

            $(this).parent().children(".rating").text(rating);

            $.ajax({
                type: "POST",
                url: "/Home/GetAjax",
                data: dataObject,
                success: function(data){
                    if(data == "200"){
                    }
                    else if(data = "400"){
                        alert("error 400");
                    }
                },
                failure:function(err){

                }
            })
        });


        $(".dislikeBtn").click(function(){

            let mirror = $(this).prev(".likeBtn");

            let dataObject = new Object();
            dataObject.Action = $(this).attr("data-action");
            dataObject.Id = $(this).attr("data-Id");

            let isDisPicked = mirror.attr("data-isPicked") == "true";
            let isLikePicked = $(this).attr("data-isPicked") == "true";

            let rating = parseInt($(this).parent().children(".rating").html());

            if(!isDisPicked && !isLikePicked){ // обычный диз
                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $(this).attr("data-isPicked", "true");

                $(this).attr("data-action", "remove_downvote");
                mirror.attr("data-action", "upvote_and_remove_downvote");

                rating = rating - 1;

            }
            if(isLikePicked && !isDisPicked){ // убираем диз
                $(this).removeClass("btn-warning").addClass("btn-secondary");
                $(this).attr("data-isPicked", "false");

                $(this).attr("data-action", "downvote");
                mirror.attr("data-action", "upvote");

                rating = rating + 1;

            }
            if(!isLikePicked && isDisPicked){ // меняем лайк на диз
                $(this).removeClass("btn-secondary").addClass("btn-warning");
                $(this).attr("data-isPicked", "true");

                mirror.removeClass("btn-warning").addClass("btn-secondary");
                mirror.attr("data-isPicked", "false");

                $(this).attr("data-action", "remove_downvote");
                mirror.attr("data-action", "upvote_and_remove_downvote");

                rating = rating - 2;
            }

            $(this).parent().children(".rating").text(rating);

            $.ajax({
                type: "POST",
                url: "/Home/GetAjax",
                data: dataObject,
                success: function(data){
                    if(data == "200"){
                    }
                    else if(data = "400"){
                        alert("error 400");
                    }
                },
                failure:function(err){

                }
            })
        });

    }
</script>