@using CourseWorkSpring2023.Models.HomeViewModels;
@model PostViewModel

<h1>@Model.Header</h1>
<h2>@Model.Author.NickName</h2>
<p class="postId" hidden>@Model.Id</p>
<p>@Model.Text</p>

     <textarea class="comment_text"></textarea>
     <br>
     @if(Model.ActiveUser == null){
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Оставить комментарий</a>
     }
     else{
        <button class="leave_comment_btn btn btn-primary" data-Nickname=@Model.ActiveUser.NickName>Оставить комментарий</button>
     }
<style>
    .comment-section .comment{
        border: 1px solid black;
        margin:5px;
        padding:5px;
    }
</style>

<div class="comment-section">
    @if(Model.Comments.Any()){
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <h4>@comment.Commentator.NickName</h4>
                <p>@comment.Text</p>



            </div>
        }
    }else{
        <div class="no-comments">
            <p>Комментариев пока нету</p>
        </div>
    }    
</div>

<script>
    window.onload = function(){

        $(".leave_comment_btn").click(function(){
           let txt = $(".comment_text").val();

           if(!txt){
               // добавить валидацию
               return;
           }

           let dataObject = new Object();
           dataObject.Text = txt;
           dataObject.PostId = $(".postId").text();
           dataObject.Action = "comment";
           
           $.ajax({
            type: "POST",
            url: "/Home/GetAjax",
            data: dataObject,
            success: function(data){
                if(data == "200"){
                }
                else if(data = "400"){
                    alert("error 400");
                }
            },
            failure:function(err){

            }
            });

            if($(".comment-section").children(".no-comments").length){
                // комментариев ещё нет
                $(".comment-section").children(".no-comments").remove();
            }
                // комменты уже есть
            $(".comment-section").append('<div class="comment"> <h4>' + $(this).attr("data-Nickname") + '</h4> <p>' + txt + '</p> </div>');

        });

    }
</script>